<ul class="navbar-nav">
    @if (User.Identity?.IsAuthenticated == true)
    {
        <li class="nav-item">
            <span class="nav-link text-light">@User.Identity.Name</span>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" asp-controller="Auth" asp-action="Logout">Logout</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-light" asp-controller="Auth" asp-action="Login">Login</a>
        </li>
    }
</ul>
